@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Medium.woff2') format('woff2');
  font-weight: 500 ;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: 'Metropolis', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Metropolis', sans-serif;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    padding: 50px 80px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
   
  .title-block {
  display: flex;
  flex-direction: column;
  }

  header img {
    height: 100px; 
    width: auto;
  }

  header strong {
    font-size: 3.5rem;
    color: #070707;
    line-height: 1.2;
    font-weight: 700;
  }
  
  .subtitle {
  font-size: 1rem;
  color: #070707;
  font-style: italic;
  margin-top: 4px;
  }

  .pdf-container {
    margin-top: 70px;
    height: calc(100vh - 70px);
  }

  iframe {
    width: 100vw;
    height: 100vh;
    border: none;
    display: block;
    overflow: hidden;
  }

  .event-list {
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0 80px 80px;
}

.event-card {
  display: flex;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  overflow: hidden;
  margin: 0;
  align-items: stretch;
  min-height: 400px;
}

.image-container {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  overflow: hidden;
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-details {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.event-tags {
  display: flex;
  gap: 12px;
  padding-left: 10px;
  margin-bottom: 12px;
}

.tag {
  display: inline-block;
  padding: 8px 40px;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.tag.date {
  background: black;
}

.tag.type {
  background: rgb(167, 167, 167);
}

.tag.type-activity {
  background: #F27B0B;
}

.tag.type-guided-tour {
  background: #0065E8;
}

.tag.type-self-guided-tour {
  background: #0BA6CD;
}

.tag.type-workshop {
  background: #A902E5;
}

.event-title {
  font-size: 3.2rem;
  margin: 0 0 8px;
  font-weight: 500;
  white-space: pre-line;
  margin-right: 12px;
  line-height: 1.1;
}

.event-description {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #444;
  margin-top: 18px;
  margin-right: 12px;
  white-space: pre-line;
}

.qr-container {
  background: #02a630;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.qr-label {
  background: white;
  color: #00621c;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 1rem;
}

.qr-code {
  width: 200px;
  height: 200px;
  margin-top: 8px;
  margin-bottom: 28px;
}


.event-top {
  position: absolute;
  top: 48px;
  left: 24px;
}

.event-middle {
  position: absolute;
  top: 108px;
  left: 38px;
  margin-right: 20px;
}

.special-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(to right, #4d0084, #fbd44c);
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  min-height: 160px;
}

.special-card h2 {
  margin: 2px 0 0;
  font-size: 2.5rem;
  padding-left: 1rem;
}

.special-card p {
  margin: 10px  0 0;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.special-card-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.special-card-qr img {
  height: 140px;
  width: 140px;
  border-radius: 12px;
  background: white;
}

